<p1> Test </p1>
<div><span> <%= link_to "Go Back!", '/home_index' %> </span></div>

<div><span> <%= image_tag('mouse_clicker.jpg') %> </span></div>
<div><span> <%= link_to image_tag('mouse_clicker_vaporwave.png'), '/home_index' %> </span></div>
